.image_in_getAllSpot {
    display: flex;
    height: 300px;
    width: 340px;
    margin-left: 10px;
    border-radius: 12px;
    margin-top: 30px;
    
}


.getAllSpot-container {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* max-width: 20%; */
    max-width: 350px;
    margin-right: 10px;
    margin-left: 10px;
    
}

.getAllSpot-avgRating {
    display: flex;
    justify-content: flex-end;


}

.getAllSpot_Second_Container {

    display: flex;
    width: 350px;
    justify-content: space-between;
    margin: 5px 10px;
}

.test {
    /* margin-top: 30px; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

/* .image_container {
    width: 250px;
  

} */

/* Spot detail ***********************************************/
.SpotDetail_Container {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    /* max-width: 1500px; */
}

.SpotDetail_img_Container {
    display: flex;
    flex-direction: row;
    justify-content: center;

}

.SpotDetail_img {
    display: flex;
    width: 450px;
    height: 400px;
    border-radius: 10px;
    margin-left: 18px;
    margin-right: 15px;
}

.SpotDetail_Second_Container {
    margin-left: 250px;
    margin-top: 15px;
    justify-content: center;
    align-items: center;
}

.Things_to_know_container {
    display: flex;
}

.House_rule_container {
    margin-top: 20px;
    font-size: 13px;
    margin-right: 10px;
}

.Health_safety_container {
    margin-top: 20px;
    font-size: 13px;
    margin-right: 10px;
}

.Cancellation_policy_container {
    margin-top: 20px;
    font-size: 13px;

}


.Things_to_know_words {
    margin-top: 20px;
    font-weight: bold;
    font-size: 16px;
}

.House_rule_words {
    margin-bottom: 15px;
    font-weight: bold;
}

.What_this_place_offers{
    margin-top: 20px;
    font-weight: bold;
    font-size: 16px;
    margin-bottom: -5px;
    
}

/* Create Spot *******************************************/

.Create_spot_word{
    text-align: center;
    font-weight: bold;
    padding-top: 0;
    padding-bottom: 5px;
}

.Create_Spot_Container{
   text-align: center;
   
}

.Create_spot_Address{
    margin: 5px;
}

.Create_spot_City{
    margin: 5px;
    margin-left: 30px;
}

.Create_spot_State{
    margin: 5px;
    margin-left: 27px;
}

.Create_spot_Country{
    margin: 5px;
    margin-right: 3px;
}

.Create_spot_Lat{
    margin: 5px;
    margin-left: 37px;
}

.Create_spot_Lng{
    margin: 5px;
    margin-left: 33px;
}

.Create_spot_Name{
    margin: 5px;
    margin-left: 20px;
}

.Create_spot_Description{
    margin: 5px;
    margin-right: 33px;
}

.Create_spot_Price{
    margin: 5px;
    margin-left: 24px;
}

.Create_spot_Image_Url{
    margin: 5px;
    margin-right: 18px;
}

.Create_Spot_error{
    list-style-type: none;
    
}


.Create_spot_button{
    width: 13.6%;
    margin-left: 57px;
    background-color: rgb(232, 63, 92);
    color:white;
    border: 0;
    height: 23px;
    border-radius: 5px;
    cursor: pointer;
    transition: all 1s ease;

}

.Create_spot_button:hover{
    background-color:red
    /* transform: scale(1); */
}