/* TODO Add site wide styles */
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,  'Open Sans', 'Helvetica Neue', sans-serif;
    
    line-height: 1.43;
    color: #424141;
    margin: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
  }

  /* ul,ol,li{ list-style: none;} */