.Sign_up_container{
    text-align: center;
    font-size: 25px;
}

.Sign_up_words{
    text-align: center;
    font-size: 30px;
}

.Firstname{
    margin: 5px;
}

.Lastname{
    margin: 5px;
}

.Lastname_input{
    margin-left: 2px;
}

.Email{
    margin: 5px;
}

.Email_input{
    margin-left: 41px;
}

.Username{
    margin: 5px;
}

.Username_input{
    margin-left: 1px;
}
.Signup_Password{
    margin-left: 6px;

}
.Confirm_Password{
    margin-right: 85px;
    margin-top: 5px;
}

.Signup_Button{
    width: 9.5%;
    margin-left: 110px;
    margin-top: 5px;
    background-color: rgb(232, 63, 92);
    color:white;
    border: 0;
    height: 23px;
    border-radius: 5px;
    cursor: pointer;
    transition: all 1s ease;

}

.Signup_Button:hover{
    background-color:red
    /* transform: scale(1); */
}